[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
catbars = {editable = true,path = "./../catbars"}
notebook = "*"
sphinx = "*"
pandas = "*"
readme-renderer = "*"

[requires]
python_version = "3.8"
